<nav class="navbar navbar-expand navbar-light bg-light">
  <div class="nav navbar-nav">
    <a class="nav-item nav-link" routerLink="login" >login</a>
    <a class="nav-item nav-link active" href="#" aria-current="page"> cadastrar-usuario <span class="visually-hidden">sistema</span></a>
    <a class="nav-item nav-link" routerLink="listar-usuario" >listar-usuario </a>
    <a class="nav-item nav-link" routerLink="cadastra-Escola" >cadastrar-escolas</a>
    <a class="nav-item nav-link" routerLink="listar-Escola" >listar-escolas</a>
    <a class="nav-item nav-link" routerLink="cadastra-Professor" >cadastrar-professores</a>
    <a class="nav-item nav-link" routerLink="listar-Professor" >listar-professor</a>
    <a class="nav-item nav-link" routerLink="cadastra-Aluno" >cadastra-aluno</a>
    <a class="nav-item nav-link" routerLink="listar-Aluno" >listar-aluno</a>
  </div>
</nav>
<div>
  
  <router-outlet>

  </router-outlet>
</div>
